// COLOR SETTING
$primary-color: #dad0c0;
$secondary-color: #2b2a5c;
$primary-color-inv: #7a72e5;

$scheme-main: $primary-color-inv;
$scheme-main-bis: $primary-color-inv;
$scheme-invert: $primary-color-inv;
$background: $primary-color;

@import "../../../node_modules/bulma/bulma";
@import "background";
@import "navbar";

.game-category{
    .card{
        &:hover{
            cursor: pointer;
            -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
            box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
        }
    }
}

.hidden{
    display: none;

}